@import 'tailwindcss';

:root {
  --primary-color: #fae220;
  --secondary-color: #c4a100;
  --primary-bg-color: #000;
  --secondary-bg-color: #111;
  --primary-text-color: #f5f5f5;
  --secondary-text-color: #999;
  --separator-color: #2e2e2e;
  /* --bg-color: rgba(28, 28, 28, 0.7);  */
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	width: 100%;
	height: 100%;
  user-select: none;
  /* -webkit-user-drag: none; */
}

@import "tailwindcss";

@layer utilities {
  body {
    @apply text-base lg:text-lg xl:text-xl pt-45;
  }

  .section {
    @apply px-[8%] py-[5%];
  }

  .title {
    @apply font-bold text-(--primary-color)
    text-2xl
    md:text-3xl
    lg:text-4xl;
  }

  .subtitle {
    @apply md:font-semibold text-(--secondary-color)
    text-base
    md:text-lg
    lg:text-xl
    xl:text-2xl;
  }

  .navbar {
    @apply hover:text-(--primary-color) transition-all
    active:text-(--secondary-color);
  }  

  .ornamen {
    @apply transform 
    scale-x-18 scale-y-18
    md:scale-x-38 md:scale-y-38 
    lg:scale-x-55 lg:scale-y-48
    xl:scale-x-60 xl:scale-y-58
    2xl:scale-x-70 2xl:scale-y-68;
  }

  .advance-gap {
    @apply w-full flex flex-col justify-center items-center
    -my-50 gap-3 
    md:-my-35 md:gap-4
    lg:-my-20 lg:gap-5
    xl:-my-10 xl:gap-6
    2xl:-my-5;
  }

  .sosmed a {
    @apply flex flex-row items-center justify-start border-2 border-(--separator-color) rounded-xl w-full text-(--secondary-text-color) 
    transition-all duration-100 ease-in-out
    hover:text-(--primary-color) hover:border-(--primary-color)
    active:text-(--secondary-color) active:border-(--secondary-color)
    text-sm py-1 px-3;
  }

  .sosmed li {
    @apply w-full;
  }

  .sosmed svg {
    @apply w-6 h-6 mr-2;
  }

  .overflow-hidden {
    overflow: hidden;
  }
}