---
import Logo from '../assets/logo.webp';
const currentYear = new Date().getFullYear();
---

<footer class="section bg-(--secondary-bg-color) flex flex-col justify-center items-center w-full gap-10">
  <div class="flex flex-row justify-between items-center w-full gap-10">
    <div>
      ini footer
    </div>
    <map>
      ini google map
    </map>
  </div>
  <div>
    copyright &copy; {currentYear} Puri Rani Lasem. All rights reserved | This website is made by InovaWeb.
  </div>
</footer>