---
import Ornamen from '../assets/ornamen.svg';
import galleries from '../assets/json/galleries.json';
import Masonry from './partials/Masonry.tsx';

interface ImageItem {
  id: number;
  title: string;
  src: string;
  category: string;
}

const images: ImageItem[] = galleries;

---

<section class="section flex flex-col justify-center items-center w-full">
  <Ornamen class="ornamen rotate-180" />
  
  <main class="flex flex-col justify-center items-center w-full gap-5">
    <h1 class="title playwrite-ro">
      Galeri
    </h1>
    <h2 class="subtitle mb-5">
      Lorem ipsum dolor sit amet.
    </h2>
    <!-- Kirim URL gambar ke Masonry -->

    <Masonry images={images} client:visible  />
  </main>

  <Ornamen class="ornamen" />
</section>