---
import Ornamen from '../assets/ornamen.svg';
// import Ornamen from './partials/Ornamen.tsx';
import galleries from '../assets/json/galleries.json';
import Masonry from './partials/Masonry.tsx';

interface ImageItem {
  id: number;
  title: string;
  src: string;
  category: string;
}

const images: ImageItem[] = galleries;

---

<section class="section flex flex-col justify-center items-center w-full" id="gallery">
  <Ornamen class="ornamen rotate-180" />
  
  <main class="advance-gap">
    <div class="flex flex-col items-center justify-center gap-2 md:gap-3 lg:gap-4 xl:gap-5">
      <h1 class="title playwrite-ro">
        Galeri
      </h1>
      <h2 class="subtitle mb-5 text-center w-[75%]">
        Kumpulan Hasil Makeup & Dekorasi Terbaik Kami
      </h2>
    </div>

    <Masonry images={images} client:visible  />

  </main>

  <Ornamen class="ornamen" />
</section>