---
import Ornamen from '../assets/ornamen.svg';
import galleries from '../assets/json/galleries.json';
import Masonry from './partials/Masonry.tsx';

interface GalleryItem {
  id: number;
  title: string;
  src: string;
}

// @ts-ignore
const images: string[] = galleries.map((item: GalleryItem) => item.src);
---

<section class="section flex flex-col justify-center items-center w-full">
  <Ornamen class="transform rotate-180 scale-x-70 scale-y-30 -mb-40" />
  
  <main class="flex flex-col justify-center items-center w-full gap-5">
    <h1 class="title playwrite-ro">
      Galeri
    </h1>
    <h2 class="subtitle mb-5">
      Lorem ipsum dolor sit amet.
    </h2>
    <!-- Kirim URL gambar ke Masonry -->
    <Masonry client:only="react" images={images} />
  </main>
  <Ornamen class="transform scale-x-70 scale-y-40 -mt-30" />
</section>